header{
            font-size: 50px;
            font-style: italic;
            color: blue;
        }
        .navbar{
            display: flex;
            align-items:center;
            padding:20px;
        }
        nav{
            flex:1;
            text-align: right;
        }
        nav ul{
             display: inline-block;
             list-style-type: disc;
        }
        nav ul li{
            display:inline-block;
            margin-right: 30px;
        }
        a{
            text-decoration: none;
            color:blue;
            font-style: italic;
            font-size: 20px;
        }
        .container{
            max-width: 1300px;
            margin: auto;
            padding-left: 25px;
        }
        #buttons li {
  float: left;
  list-style: none;
  text-align: center;
  background-color:white;
  margin-right: 40px;
  width: 150px;
  line-height: 60px;
}
#buttons li a {
  text-decoration: none;
  color: blue;
  display: block;
}

#buttons li a:hover {
  text-decoration: none;
  color: blue;
  background-color: #33B5E5;
  font-size: 40px;
} 
.btn{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover{
  background-color: blueviolet;
}
.cart{
  color: white;
  font-style: italic;
  background-color: red;
}
   
    
.city {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
    }
 img {
  max-width: 100%;
  max-height:100%;
}
h1{
 font-size: 40px;
 font-style: arial;
}
p{
  font-size: 20px;
  font-style: italic;
}
section{
  background-color:lightcoral;
      padding: 20px;
      margin-bottom: 20px;
    }
header{
  font-size: 50px;
  font-style: italic ;
  color: blueviolet;
  text-align: center;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
h2{
  font-size: 30px;
  font-style: italic;
  color: blue;
}
h3{
  font-size: 30px;
  font-style:italic;
  color: black;
}
p.color{
  font-size: 20px;
  color:blueviolet;
  font-style:italic;
}  
.brands{
  margin:100px auto;
}
.col-5{
  width:160px;
  flex:33.3%;
}
.col-5 img{
  width:100%;
  cursor:pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter:grayscale(0);
}

.footer{
  background-color: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding:60px 0 20px;
}
.footer p{
  color:#8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis:30%;
}
.footer-col-2{
  flex:1;
  text-align:center;
}
.footer-col-3,.footer-col-4{
  flex-basis:12%;
  text-align:center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top:20px;
}
.testimonial{
  padding-top:100px;
}
.testimonial .column{
  text-align:center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0,1);
  cursor: pointer;
}

.testimonial .column :hover{
  transform: translateY(-10px);
}
